/*
 * Copyright (C) 2013 Daniel Pfeifer <daniel@pfeifer-mail.de>
 *
 * Distributed under the Boost Software License, Version 1.0.
 * See accompanying file LICENSE_1_0.txt or copy at
 *   http://www.boost.org/LICENSE_1_0.txt
 */

#include <winver.h>
#include "version.h"

VS_VERSION_INFO   VERSIONINFO
  FILEVERSION     KARROT_VER_MAJOR, KARROT_VER_MINOR, KARROT_VER_PATCH, 0
  PRODUCTVERSION  KARROT_VER_MAJOR, KARROT_VER_MINOR, KARROT_VER_PATCH, 0
  FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS       1
#else
  FILEFLAGS       0
#endif
  FILEOS          VOS__WINDOWS32
  FILETYPE        VFT_APP
  FILESUBTYPE     0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Project Dependency Solver"
      VALUE "FileVersion", KARROT_VERSION
      VALUE "InternalName", "karrot.exe"
      VALUE "LegalCopyright", "Copyright (C) Daniel Pfeifer. All rights reserved."
      VALUE "OriginalFilename", "karrot.exe"
      VALUE "ProductName", "Karrot"
      VALUE "ProductVersion", KARROT_VERSION
      VALUE "Comments", "For more information visit http://purplekarrot.net/"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
